TTFBench/
data
kernel_meta

**/__pycache__/
checkpoints/
results/
run.py
.vscode/
wandb/
experiments/
temp.ipynb
data/

data
results/
checkpoints/
temp/
cache/
*visualize*
checkpoints
checkpoints_wonorm/
checkpoints_wonorm
checkpoints*/
*.npy
*.png
*.npz
plots
docs/
*.json